<div class="container-fluid">
    <div class="container">
        <h1>Carga Horaria</h1>
        <!--
          <div>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Clase</mat-label>
                  <input type="text" placeholder="Seleccione Uno" aria-label="Number" matInput [formControl]="myControl"[matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>   
        -->       
    </div>
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Matutino">
            <ul class="horizontal-list">
                <li>Asignatura</li>
                <li>Aula</li>
                <li>Grupo</li>
                <li>Periodo</li>
                <li>Frecuencia</li>
                <li>observacion<li>
            </ul>
            <ul class="horizontal-list" *ngFor="let prop of resultObtenerCargaAcademica"> 
                <li>{{prop.asignatura}}</li>
                <li>{{prop.aula}}</li>
                <li>{{prop.grupo}}</li>
                <li>{{prop.horario}}</li>
                <li>{{prop.frecuencia}}</li>
                <li>{{prop.observacion}}</li>
            </ul>
        </mat-tab>
        <mat-tab label="Vespertino">
          <ul class="horizontal-list">
            <li>Asignatura</li>
            <li>Aula</li>
            <li>Grupo</li>
            <li>Periodo</li>
            <li>Frecuencia</li>
            <li>observacion<li>
         </ul>
         <ul class="horizontal-list" *ngFor="let prop of resultObtenerCargaAcademica"> 
             <li>{{prop.asignatura}}</li>
             <li>{{prop.aula}}</li>
             <li>{{prop.grupo}}</li>
             <li>{{prop.horario}}</li>
             <li>{{prop.frecuencia}}</li>
             <li>{{prop.observacion}}</li>
         </ul>
        </mat-tab>
        <mat-tab label="Nocturno">
          <ul class="horizontal-list">
            <li>Asignatura</li>
            <li>Aula</li>
            <li>Grupo</li>
            <li>Periodo</li>
            <li>Frecuencia</li>
            <li>observacion<li>
         </ul>
         <ul class="horizontal-list" *ngFor="let prop of resultObtenerCargaAcademica"> 
             <li>{{prop.asignatura}}</li>
             <li>{{prop.aula}}</li>
             <li>{{prop.grupo}}</li>
             <li>{{prop.horario}}</li>
             <li>{{prop.frecuencia}}</li>
             <li>{{prop.observacion}}</li>
         </ul>
        </mat-tab>
    </mat-tab-group>      
</div>