.container-fluid{
    background: white;
}

.container{
    text-align: center;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.horizontal-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
  
.horizontal-list li {
 padding-bottom: 5px;
 padding-top: 5px;
 padding-left: 5px;
 padding-right: 5px;   
}
  