<div class="container-fluid">
    <div class="container">
        <h1>Carga Horaria</h1>
    </div>
    <mat-tab-group>
        <mat-tab label="Matutino">
            <ul class="horizontal-list">
                <li>Periodo</li>
                <li>Asignatura</li>
                <li>Aula</li>
                <li>Grupo</li>
                <li>Periodo</li>
                <li>Frecuencia</li>
                <li>observacion<li>
            </ul>
            <ul class="horizontal-list">
                <li>Contenido Periodo</li>
                <li>Contenido Asignatura</li>
                <li>Contenido Aula</li>
                <li>Contenido Grupo</li>
                <li>Contenido Periodo</li>
                <li>Contenido Frecuencia</li>
                <li>Contenido observacion</li>
            </ul>
        </mat-tab>
        <mat-tab label="Vespertino">

        </mat-tab>
        <mat-tab label="Nocturno">

        </mat-tab>
      </mat-tab-group>      
</div>