<div class="container-fluid">
    <div class="container">
        <h1>Disponibilidad de Tiempo</h1>
    </div>
    <mat-tab-group>
        <mat-tab label="Matutino">
            <ul class="horizontal-list">
                <li>Fecha</li>
                <li>Justificacion</li>
                <li>Periodicidad</li>
                <li>Observacion</li>
                <li>Evidencia</li>
            </ul>
            <ul class="horizontal-list">
                <li>Contenido Fecha</li>
                <li>Contenido Justificacion</li>
                <li>Contenido Periodicidad</li>
                <li>Contenido Observacion</li>
                <li>Contenido Evidencia</li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</div>