.row {
  background: #ddd;
  padding: 20px;
  margin: 10px;
}

img {
  width: 128px;
  height: 128px;
}

h1, h2, h3, h4 {
  font-size: 18px;
  text-align: center;
}

a {
  font-size: 18px;
}

.col {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.notification-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
}

.notification-container mat-list-item {
  display: flex;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}
  
.vertical-container span {
  margin-bottom: 10px;
}
  
.vertical-container span:nth-child(4) {
  align-self: flex-end;
}  