<app-header></app-header>
<div class="dashboard-container">
    <div class="sidebar">
      <div class="sidebar-header">
        <h3>Mi Menú</h3>
      </div>
      <ul class="sidebar-menu">
        <li class="carga-academica">
          <a>Carga Académica</a>
          <ul class="sub-menu">
            <li><a [routerLink]="['/dashboard/principal']">Principal</a></li>
            <li><a [routerLink]="['/dashboard/cargahoraria']">Carga Horaria</a></li>
            <li><a [routerLink]="['/dashboard/disponibilidad']">Disponibilidad de Clases</a></li>
            <li><a [routerLink]="['/dashboard/horario']">Horario de Clases</a></li>
          </ul>
        </li>
        <li class="opciones">
          <a>Opciones</a>
          <ul class="sub-menu">
            <li><a [routerLink]="['/auth/login']">Usuario</a></li>
            <li><a [routerLink]="['/dashboard/ayuda']">Ayuda</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sidebar-content">
      <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>
