.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f2f2f2;
}

.sidebar-header {
  padding: 20px;
  background-color: #ddd;
}

.sidebar-header h3 {
  margin: 0;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #333;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
