.container-fluid {
    display: flex;
    margin: 0;
}

.container{
    background: #fff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.container h1{
    color: rgb(0,55,130);;
}

.row button{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(0,55,130);
}

.horizontal-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
  
.horizontal-list li {
 padding-bottom: 5px;
 padding-top: 5px;
 padding-left: 5px;
 padding-right: 5px;   
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 75%;
}
